.o_web_studio_thumbnail_item {
  transition: all .3s ease 0s;
  width: 115px;
  box-shadow: $o-web-studio-shadow-base;
  font-size: .9em;

  &:hover {
    box-shadow: $o-web-studio-shadow-active;
  }

  &.disabled {
    opacity: 0.6
  }

  .o_web_studio_thumbnail {
    height: 115px;

    img {
      width: 60px;
    }
  }

  .o_web_studio_name {
    height: 3em !important;

    .o_web_studio_more {
      background-color: $white;
      width: 1.8em;
      aspect-ratio: 1;

      &:hover, &:focus {
          background-color: $o-web-studio-bg-light !important;
      }
    }
  }
}
